---
import Layout from "../layouts/Layout.astro";
import Group, { Team } from "../components/Group.astro";

const response = await fetch(
  "https://api.baseql.com/airtable/graphql/appPY7EZiXBATGkqR",
  {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
      query getTeams {
        teams(_order_by: [
          {group: "asc"}, 
          {points: "desc"},
          {gd: "desc"}
        ])
        {
          name
          group
          points
          ga
          gf
          gd
          mp
          w
          d
          l
        }
      }`,
    }),
  }
);
const json = await response.json();
const data: Team[] = json.data.teams;
const groups = ["A", "B", "C", "D", "E", "F", "G", "H"].map((g) => {
  return data.filter((team) => team.group === g);
});
---

<Layout title="2022 FIFA World Cup">
  <main>
    <h2>Groups</h2>
    <p class="instructions">
      In the group stage, teams compete within eight groups of four teams each.
      The top two teams from each group advance to the knockout stage. The group
      stage is set to begin on November 20th and concludes on December 2nd.
    </p>
    <ul role="list" class="link-card-grid">
      {
        groups.map((g) => {
          return <Group teams={g} />;
        })
      }
    </ul>
    <!-- <div id="airtable-form">
      <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"
      ></script><iframe
        class="airtable-embed airtable-dynamic-height"
        src="https://airtable.com/embed/shrJZ1Yq30nXI8TkO?backgroundColor=teal"
        frameborder="0"
        width="100%"
        height="3495"
        style="background: transparent; border: 1px solid #ccc;"></iframe>
    </div> -->
  </main>
</Layout>

<style>
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .link-card-grid {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
