---
import Bracket from "../components/Bracket.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="2022 FIFA World Cup">
    <h2>Knockout Stage</h2>
    <p class="instructions">
      The knockout stage is a single-elimination tournament in which teams play
      each other in one-off matches. It begins with the round of 16 in which the
      winner of each group plays against the runner-up of another group. This is
      followed by the quarter-finals, the semi-finals, the third-place match
      (contested by the losing semi-finalists), and the final. The Knockout
      stage is set to begin on December 3rd and the Final is on December 18.
    </p>
    <Bracket />
</Layout>
