---
import Layout from "../layouts/Layout.astro";
---

<Layout title="2022 FIFA World Cup">
  <h2>Knockout Stage</h2>
  <p class="instructions">
    Now that the Round of 16 <a href="/knockout">bracket</a> is filled it's time to fill out the form below to select the winners of the next 8 matches.
  </p>

  <div id="airtable-form">
    <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"
    ></script><iframe
      class="airtable-embed airtable-dynamic-height"
      src="https://airtable.com/embed/shrlwF6D1rYzCyqHw?backgroundColor=red"
      frameborder="0"
      width="100%"
      height="1581"
      style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>
</Layout>
