---
import Layout from "../layouts/Layout.astro";
---

<Layout title="2022 FIFA World Cup">
  <h2>Knockout Stage</h2>
  <p class="instructions">
    Come back in 2026!
  </p>

  <div id="airtable-form">
  </div>
</Layout>
