---
import Layout from "../layouts/Layout.astro";
---

<Layout title="2022 FIFA World Cup">
  <h2>Knockout Stage</h2>
  <p class="instructions">
   Semi finals <a href="/knockout">bracket</a> is closed. Check back before Final starts
    <!-- We're in the Semi finals! It's time to fill out the form below to select the
    winners of the next 2 matches. -->
  </p>

  <div id="airtable-form">
<!-- add iframe here -->
  </div>
</Layout>
