---
---
<ul class="nav">
  <li><a href="/">Group Stage</a></li>
  <li><a href="/knockout">Knockout Stage</a></li>
  <li><a href="/leaderboard">leaderboard</a></li>
</ul>
<br />
<h1>2022 FIFA World Cup</h1>
<p class="instructions">
  The World Cup is finally here! I will be running a bracket competition. If
  you'd like to enter please submit your picks for each round by the deadlines:
  <br />
  11/19 for group stage (closed) and <strong>12/2 for the knockout stage</strong><br />
  <br />
  The form below will open before the start of each round to allow you to enter your
  selections.
</p>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    color: #56042c;
  }

  ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background: #56042c; /* you can change the backgorund color here. */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  ul.nav li {
    border-right: 1px solid #61183a; /* you can change the border color matching to your background color */
    float: left;
  }
  ul.nav a {
    display: block;
    padding: 0 28px;
    color: #ccece6;
    text-decoration: none;
  }
  ul.nav a:hover,
  ul.nav li.current a {
    background: #61183a;
  }
</style>
